<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<connectionStrings>
		<add name="PostgresConnection"
			 connectionString="Host=aws-1-us-east-1.pooler.supabase.com;
                         Port=5432;
                         Username=postgres.lhqldfbqyxfidteufnud;
                         Password=luismiguel1126;
                         Database=postgres"
			 providerName="Npgsql" />
	</connectionStrings>

	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>

	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" />
	</system.web>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<!-- Aquí van todos tus bindingRedirects existentes -->
		</assemblyBinding>
	</runtime>

	<!-- Configuración de Entity Framework -->
	<entityFramework>
		<defaultConnectionFactory type="Npgsql.NpgsqlFactory, Npgsql" />
		<providers>
			<provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>

	<system.data>
		<DbProviderFactories>
			<remove invariant="Npgsql" />
			<add name="Npgsql Data Provider" invariant="Npgsql" support="FF" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql" />
		</DbProviderFactories>
	</system.data>

</configuration>